#page-room {
  header {
    padding: 1.5rem;
    border-bottom: 2px solid #e2e2e23b;

    .content {
      max-width: 70rem;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      > img {
        max-height: 2.813rem;
        max-width: 0.625rem;
      }

      > div {
        display: flex;
        gap: 10px;

        button {
          height: 2.5rem;
        }
      }
    }
  }

  main {
    max-width: 800px;
    margin: 0 auto;
    border: none !important;

    .room-title {
      margin: 2rem 0 1.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      h1 {
        font-family: "Poppins", sans-serif;
        font-size: 1.5rem;
        justify-content: space-between;
      }

      span {
        margin-left: 1rem;
        background: #e559f9;
        border-radius: 9999px;
        padding: 0.5rem 1rem;
        color: #fff;
        font-weight: 500;
        font-size: 0.9rem;
      }
    }

    form {
      textarea {
        background: rgba(255, 255, 255, 0.336);
        width: 100%;
        border: 0;
        padding: 1rem;
        border-radius: 8px;
        box-shadow: 0 2px 12px rgba(0, 0, 0, 0.137);
        resize: vertical;
        min-height: 130px;
      }

      .form-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1rem;

        .user-info {
          display: flex;
          align-items: center;

          img {
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
          }

          span {
            margin-left: 0.5rem;
            font-weight: 500;
            font-size: 0.875rem;
          }
        }

        > span {
          font-size: 0.875rem;
          font-weight: 500;

          button {
            background: transparent;
            border: 0;
            color: #835afd;
            text-decoration: underline;
            font-size: 0.875rem;
            font-weight: 500;
            cursor: pointer;
          }
        }
      }
    }

    .question-list {
      margin-top: 32px;
    }
  }
}

.logout {
  font-weight: 500;
  color: #835afd;
  display: flex;
  margin: 0.5rem 0;

  &:hover {
    transition: 0.4s;
    color: #7452d8;
  }
}
.bg {
  filter: opacity(0.9);
  display: flex;
  width: 500px;
  justify-content: center !important;
  align-items: center;
  float: center !important;
  margin: 0 auto;
  padding: 0;
}

.responsive-menu {
  max-width: 280px;
  display: block;
  margin: 0 2px;
  justify-content: end;
}

ExitToAppRoundedIcon {
  padding-left: 18.75rem;
  margin: 0 auto;
}
.MuiPaper-root {
  padding-bottom: 10px;
}

@media (max-width: 768px) {
  .room-title {
    margin: 5px !important;
    font-size: 10px !important;
    h1 {
      margin-top: 10px;
      font-size: 18px !important;
    }
  }
  form {
    textarea {
      font-size: 12px;
    }
  }

  .question-list {
    margin: 5px;
    font-size: 6px !important;
    p {
      font-size: 16px;
    }
  }

  .bg {
    filter: opacity(0.9);
    display: flex;
    width: 330px;
    justify-content: center !important;
    align-items: center;
    float: center !important;
    margin: 0 auto;
    padding: 0;
  }
  .logo {
    width: 6.875rem;
  }
  .user-info {
    margin: 5px;
  }
  .form-footer {
    .user-info {
      width: 900px;
    }
    .button {
    }
  }

  .MuiPaper-root {
    width: 100%;
    height: 812px;
  }
}
